.App {
  /*100vw Represent 100% of the viewport height */
  width: 100vw;
  /*100vh it occupies the entirety of the viewport (the height of your browser). */
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
.Toastify__close-button.Toastify__close-button--dark {
  width: 50px;
  margin-top: 0px;
}
